<section class="companys">
  <div class="container">
    <span>А так же мы используем различные пятновыводители и химию для уборки таких фирм как: 
      </span>
    <span>CHEMSPEK, BUTCHERS, ХИМИТЕК, PROCHEM, KIEHL.</span>
    <ul class="companys__list">
      <li class="companys__item">
      <picture>
        <source srcset="img/companys-1.avif" type="image/avif">
        <source srcset="img/companys-1.webp" type="image/webp">
        <img loading="lazy" src="img/companys-1.png" class="companys__img" alt="company pics">
      </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source srcset="img/companys-2.avif" type="image/avif">
          <source srcset="img/companys-2.webp" type="image/webp">
          <img loading="lazy" src="img/companys-2.png" class="companys__img" alt="company pics">
        </picture>
        </li>
        <li class="companys__item">
          <picture>
            <source srcset="img/companys-3.avif" type="image/avif">
            <source srcset="img/companys-3.webp" type="image/webp">
            <img loading="lazy" src="img/companys-3.png" class="companys__img" alt="company pics">
          </picture>
          </li>
          <li class="companys__item">
            <picture>
              <source srcset="img/companys-4.avif" type="image/avif">
              <source srcset="img/companys-4.webp" type="image/webp">
              <img loading="lazy" src="img/companys-4.png" class="companys__img" alt="company pics">
            </picture>
            </li>
            <li class="companys__item">
              <picture>
                <source srcset="img/companys-5.avif" type="image/avif">
                <source srcset="img/companys-5.webp" type="image/webp">
                <img loading="lazy" src="img/companys-5.png" class="companys__img" alt="company pics">
              </picture>
              </li>
    </ul>
  </div>
</section>