<section class="ourMachins">
  <div class="container">
  <h2 class="ourMachins__title">Наша <span>химия</span> </h2>
  <ul class="ourMachins__list">
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-1.avif" type="image/avif">
        <source srcset="img/chemicals-1.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-1.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Powdered Formula 90</b>  - Удаляет грязь по всей глубине ворса с синтетических и натуральных волокон. Не оказывает разрушающего воздействия на текстильные красители. Разрешено для применения на шерсти. Смачивает поверхность, проникая глубоко во все ее неровности и поры, освежает и усиливает цвет, замедляет последующее загрязнение.</p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-2.avif" type="image/avif">
        <source srcset="img/chemicals-2.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-2.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Formula 90 Liquid </b> - Идеальное средство для ЭКСТРАКТОРНОЙ чистки. Удаляет грязь по всей глубине ворса с синтетических и натуральных волокон. Не оказывает разрушающего воздействия на текстильные красители. Разрешено для применения на шерсти. </p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-3.avif" type="image/avif">
        <source srcset="img/chemicals-3.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-3.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Enz-All</b> Enz-All - Порошковый энзимный пре-спрей (опрыскиватель для предварительной обработки), содержащий ЭНЗИМЫ - активные белки, расщепляющие органические соединения. Одно из самых сильных средств для предварительной обработки на рынке! Специально разработан для борьбы с сильнейшими белковыми, въевшимися загрязнениями. Эффективно удаляет кровь, рвоту, траву и пищевые пятна с ковра.  </p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-4.avif" type="image/avif">
        <source srcset="img/chemicals-4.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-4.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Browning Treatment/Coffee Stain Remover</b> Browning Treatment/Coffee Stain Remover - Готовое к применению эффективное средство для выведения пятен кофе, дубильных веществ и красителей, оказывает воздействие на свежие и застарелые пятна. Превосходно удаляет потемнение обивки и ковра, связанное с переувлажнением.</p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-5.avif" type="image/avif">
        <source srcset="img/chemicals-5.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-5.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Spray-N-Go</b>  - Порошковое средство, специально предназначенное для удаления застарелых пятен кофе, чая, соды, губной помады, гуталина и др. В зависимости от уровня и давности загрязнения может меняться концентрация готового раствора. Перед применением проверьте поверхность на стойкость красителей на незаметном месте. </p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-6.avif" type="image/avif">
        <source srcset="img/chemicals-6.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-6.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Urine Contamination Treatment</b>  - Нейтрализует сильный запах мочи и других стойких запахов на коврах, обивке и твердых поверхностях. Помимо ковров и обивки позволяет устранять запах даже с плитки, цемента, деревянных полов и других твердых поверхностей. Средство может быть нанесено как тряпкой, так и спреем. После применения остается приятный запах свежести и цветов.</p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-7.avif" type="image/avif">
        <source srcset="img/chemicals-7.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-7.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Leather Cleaner & Conditioner</b>  - Специальное средство для ухода за обивкой из натуральной и синтетической КОЖИ. Позволяет восполнить потерю натуральных масел и надолго сохраняет привлекательный внешний вид изделия. Кожа остается чистой, мягкой и эластичной без маслянистого остатка.</p>
    </li>
    <li class="ourMachins__item ourChemicals__item">
      <picture>
        <source srcset="img/chemicals-8.avif" type="image/avif">
        <source srcset="img/chemicals-8.webp" type="image/webp">
        <img loading="lazy" src="img/chemicals-8.png" class="ourMachins__img ourChemicals__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>P.O.G. Remove </b> -универсальный жидкий пятновыводитель. Эффективно удаляет жирные пятна, масляные пятна, краску, жвачку, клей и др.</p>
    </li>
  </ul>
</div>
</section>