<section class="ourMachins">
  <div class="container">
  <h2 class="ourMachins__title">Наше <span>оборудование</span> </h2>
  <ul class="ourMachins__list">
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-1.avif" type="image/avif">
        <source srcset="img/ourMachins-1.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-1.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>SANTOEMA SABRINA HOT</b> - лучший в своем классе! Экстрактор имеет небольшие размеры и идеально подходит для чистки небольших площадей - чистка диванов, матрасов и ковров на дому. Среди тех, кто продается на Российском рынке - у него самая большая сила всасывания! Это экстрактор позволяющий удалить загрязнения оттуда, куда не достанет любой другой экстрактор (даже Кёрхер и тем более Кирби). Сила всасывания 3000мм.вод.столба и подогрев раствора - делают этот экстарктор лучшим! Для сравнения у Кёрхера сила всасывания 2200 мм.вод.столба, а у Кирби - 660 мм.вод.столба.</p>
    </li>
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-2.avif" type="image/avif">
        <source srcset="img/ourMachins-2.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-2.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>SANTOEMA SABRINA MAXI</b>  - Этот аппарат имеет такие же показатели как и у santoema sabrina hot, с одним лиш отличием - у него баки для грязной и чистой воды больше в 3 раза, что делает его идеальным для быстрой чистки без потери качества больших площадей, таких как офисные здания, кинотеатры, гостиницы, рестораны и др. </p>
    </li>
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-3.avif" type="image/avif">
        <source srcset="img/ourMachins-3.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-3.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Размывачная машина Numatic NuPower NPR1515</b> Размывачная машина Numatic NuPower NPR1515 - это роторная размывочная машина для шампунирования ковролинов. Диаметр 450мм. позволяет осуществлять чистку ковров и ковролинов с максимальной скоростью! Однако эта машина требует опытного оператора. Работать на ней не так просто! </p>
    </li>
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-4.avif" type="image/avif">
        <source srcset="img/ourMachins-4.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-4.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Паропылесос Delvir VULCAN INOX</b>  - это мощьный парогенератор и пылесос в одном лице. Он может упроститьт множество задач! Удаление въевшихся пятен, чистка штор, мойка стекол, чистка твердых полов и межплиточных швов, чистка кухни и многое другое! Парогенератор - это многофункциональный аппарат который должен быть в любой компании. Это как символ качества. Если он есть - то фирма знает что делет, если его нет - то фирма неопытная или не заботится о качестве.</p>
    </li>
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-5.avif" type="image/avif">
        <source srcset="img/ourMachins-5.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-5.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Вертикальный пылесос Sebo</b>  - ни одна серьезная фирма по чистке ковров и ковролинов не обойдется без вертикального пылесоса. Если чистка ковра или ковролина осуществляется без применения вертикального пылесоса - это непрофессионально!!! </p>
    </li>
    <li class="ourMachins__item">
      <picture>
        <source srcset="img/ourMachins-6.avif" type="image/avif">
        <source srcset="img/ourMachins-6.webp" type="image/webp">
        <img loading="lazy" src="img/ourMachins-6.png" class="ourMachins__img" alt="our machine">
      </picture>
      <p class="ourMachins__text"> <b>Фен для сушки ковров Bloower-220</b>  - отличный помошник, когда нужно быстро высушить ковровое покрытие или мягкую мебель!</p>
    </li>
  </ul>
</div>
</section>