.all-serv {
color: $textColor;
  &__title {
    @include mp0;
    @include fw700;
    text-align: center;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 22px;
    & span {
      color: $accentColor;
    }

  }

  &__wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    width: 560px;
    height: 256px;
    padding: 30px 40px;
    border-radius: 10px;
    &_bg1 {
      margin-right: 40px;
      margin-bottom: 40px;
      background: linear-gradient(119.05deg, rgba(0, 113, 152, 0.6) 51.26%, rgba(252, 183, 139, 0.4) 89.77%, rgba(252, 183, 139, 0.4) 124.01%, rgba(0, 113, 152, 0.6) 163.79%);
    }
    &_bg2 {
      margin-bottom: 40px;
      background: linear-gradient(119.05deg, rgba(0, 113, 152, 0.6) -17.07%, rgba(252, 183, 139, 0.4) 21.44%, rgba(252, 183, 139, 0.4) 55.68%, rgba(0, 113, 152, 0.6) 95.46%);
    }
    &_bg3 {
      margin-right: 40px;
      background: linear-gradient(119.05deg, rgba(0, 113, 152, 0.6) 12.21%, rgba(252, 183, 139, 0.4) 50.73%, rgba(252, 183, 139, 0.4) 84.96%, rgba(0, 113, 152, 0.6) 124.75%);
    }
    &_bg4 {
      background: linear-gradient(119.05deg, rgba(0, 113, 152, 0.6) -56.36%, rgba(252, 183, 139, 0.4) -17.84%, rgba(252, 183, 139, 0.4) 16.39%, rgba(0, 113, 152, 0.6) 56.18%);
    }
  }

  &__subTitle {
    @include mp0;
    @include fw700;
    text-align: center;
    // margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 23px;
  }

  &__list {
    @include mp0;
    @include liststlyle;
  }

  &__link {
    @include fw300;
    color: $textColor;
    font-size: 15px;
    line-height: 23px;
  }

  &__img {
    margin-left: 10px;
    width: 240px;
    height: 150px;
    border-radius: 10px;
  }
}

.all-serv-item__wrp {
  display: flex;
  justify-content: space-between;
}