<section class="first-screen">
  <div class="container">
    <div class="first-screen__wrp">
      <div class="first-screen__info">
        <h1 class="first-screen__title"><span>Обучение</span> для клининговых компаний</h1>
        <p class="first-screen__descr">Компания «Химдиван» является официальным представителем Международного Консалтингового Центра Тараса Дударя в Центральной России.</p>
      </div>
      <div class="first-screen__image">
      <picture>
        <source srcset="img/education-screen.avif" type="image/avif">
        <source srcset="img/education-screen.webp" type="image/webp">
        <img loading="lazy" src="img/education-screen.jpg" class="first-screen__img"  alt="starter pics">
      </picture>
      </div>
    </div>
  </div>
</section>