<section class="second-screen">
  <div class="container">
      <picture>
        <source srcset="img/second-screen_main.avif" type="image/avif">
        <source srcset="img/second-screen_main.webp" type="image/webp">
        <img loading="lazy" src="img/second-screen_main.jpg" class="second-screen__image" alt="main pics">
      </picture>
      <div class="second-screen__wrp">
        <p class="second-screen__descr"><span>Тарас Дударь</span> – признанный эксперт в области чистоты и гигиены. На его счету организация и проведение сотен семинаров и конференций в области клининга по всей России. Семинары по организации работы клининговых компаний и технологиям чистки сложных загрязнений успешно проходят в Москве, Санкт-Петербурге, Екатеринбурге, Краснодаре, Нижнем Новгороде, Киеве и Минске.
        </p>
        <p class="second-screen__descr">Тарас Дударь – автор уникальной образовательной программы «Чистомания», которая является главным пособием для начинающих клининговых бригад и профессиональных компаний.
        </p>
      </div>
  </div>
</section>