<section class="slider-block">
  <div class="container">
    <h4 class="slider-block__title">
      Ждем вас на своих семинарах. Мы делимся не только полезной информацией, но и хорошим настроением :)
    </h4>
    <div class="slider-block__wrp slider-wrp">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
        <picture>
        <source srcset="img/slider22.avif" type="image/avif">
        <source srcset="img/slider22.webp" type="image/webp">
        <img loading="lazy" src="img/slider22.jpg" class="image" alt="starter pics">
       </picture> 
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/slider333.avif" type="image/avif">
              <source srcset="img/slider333.webp" type="image/webp">
              <img loading="lazy" src="img/slider333.png" class="image" alt="starter pics">
             </picture> 
             </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/slider444.avif" type="image/avif">
              <source srcset="img/slider444.webp" type="image/webp">
              <img loading="lazy" src="img/slider333.png" class="image" alt="starter pics">
             </picture> 
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/slider444.avif" type="image/avif">
              <source srcset="img/slider444.webp" type="image/webp">
              <img loading="lazy" src="img/slider333.png" class="image" alt="starter pics">
             </picture> 
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
    </div>
  </div>
</section>