<section class="advantage">
  <div class="container">
    <h2 class="advantage__title">Наши <span>преимущества</span></h2>
    <div class="advantage-wrp">
      <div class="advantage__item">
        <div class="advantage__img"><img src="../img/svg/advantage1.svg" alt="img"></div>
        <h4 class="advantage__subTitle">Лучшая химия</h4>
        <p class="advantage__descr">Цены у нас чуть выше, чем в среднем по рынку, поэтому можем себе позволить покупать лучшие средства 👍</p>
      </div>
      <div class="advantage__item">
        <div class="advantage__img"><img src="../img/svg/advantage2.svg" alt="img"></div>
        <h4 class="advantage__subTitle">Работаем с 2008 года</h4>
        <p class="advantage__descr">Каждый год мы лучше и лучше 👌</p>
      </div>
      <div class="advantage__item">
        <div class="advantage__img"><img class="abs_controll" src="../img/svg/advantage3.svg" alt="img"></div>
        <h4 class="advantage__subTitle">Доступные цены</h4>
        <p class="advantage__descr">При этом у нас большой поток заказов, и именно поэтому, мы можем удерживать цены на минимальном уровне 💪</p>
      </div>
      <div class="advantage__item">
        <div class="advantage__img"><img src="../img/svg/advantage4.svg" alt="img"></div>
        <h4 class="advantage__subTitle">Лучшая техника</h4>
        <p class="advantage__descr">Наши мастера уже привыкли к мощной технике и морально не смогут работать слабыми моделями 😎</p>
      </div>
    </div>
  </div>
</section>