<header class="header">
  <div class="container">
    <div class="header-wrp">
      <div class="header-logo">
        <a href="#" class="header__home">
          <img src="../img/svg/header-logo.svg" alt="site logo">
        </a>
      </div>
      <div class="header-info">
        <ul class="header-socials">
          <li class="header-socials__item">
            <a href="#" class="header-socials__link">
              <img src="../img/svg/viber.svg" alt="viber">
            </a>
          </li>
          <li class="header-socials__item">
            <a href="#" class="header-socials__link">
              <img src="../img/svg/youtube.svg" alt="youtube">
            </a>
          </li>
          <li class="header-socials__item">
            <a href="#" class="header-socials__link">
              <img src="../img/svg/telegram.svg" alt="telegram">
            </a>
          </li>
        </ul>
        <div class="header-contacts">
          <a href="tel:380996350900" class="header-phone">+38 099 635 0900</a>
          <span>Мы на связи с 9:00 до 19:00</span>
        </div>
        <div class="header-btn">
          <a href="#" class="header-btn__link">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
</header>
