<section class="last-news">
  <div class="container">
    <h2 class="last-news__title">Последние <span>новости</span> </h2>
    <div class="last-news-wrp">
      <div class="last-news__item">
        <p class="last-news__descr">Особенности профессиональной чистки и защитного покрытия линолеума</p>
        <span class="last-news__date">15 марта 2022</span>
      </div>
      <div class="last-news__item">
        <p class="last-news__descr">Когда начали применять озонирование для дезинфекции помещений?</p>
        <span class="last-news__date">15 марта 2022</span>
      </div>
      <div class="last-news__item">
        <p class="last-news__descr">Как часто требуется уборка в офисе во время пандемии</p>
        <span class="last-news__date">15 марта 2022</span>
      </div>
      <div class="last-news__item last-news__item_active">
        <p class="last-news__descr">ТОП 5 наиболее распространенных причин вызова профессиональных клинеров</p>
        <span class="last-news__date">10 февраля 2022</span>
      </div>
    </div>
    <a href="#" class="last-news__link">Все новости</a>
  </div>
</section>