<section class="map">
  <div class="container">
    <div class="map-wrp">
      <div class="map-info">
        <h2 class="map__title">Хотите  <span>скидку?</span></h2>
        <p class="map__descr map__descr_accent">Если Ваши соседи по дому когда то уже пользовались нашими услугами — то Вы получаете скидку 5%.</p>
        <p class="map__descr">Все очень просто: найдите свой дом на карте, если ваши соседи когда-либо пользовались услугой, он будет отмечен. Нашли отметку — скидка ваша!</p>
      </div>
      <div class="map__g-Map">
        <img src="../img/gMap.png" alt="google map">
      </div>
    </div>
  </div>
</section>