<section class="popular-serv">
  <div class="container">
    <h2 class="popular-serv__title">Популярные <span>услуги</span> </h2>
    <ul class="popular-serv__list">
      <li class="popular-serv__item">
        <img src="img/popular-serv1.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Химчистка мягкой мебели</h4>
        <span class="popular-serv__price">2 100 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
      <li class="popular-serv__item">
        <img src="img/popular-serv2.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Химчистка матрасов</h4>
        <span class="popular-serv__price">500 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
      <li class="popular-serv__item">
        <img src="img/popular-serv3.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Химчистка штор</h4>
        <span class="popular-serv__price">50 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
    </ul>
    <ul class="popular-serv__list">
      <li class="popular-serv__item">
        <img src="img/popular-serv4.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Химчистка ковров</h4>
        <span class="popular-serv__price">750 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
      <li class="popular-serv__item">
        <img src="img/popular-serv5.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Химчистка ковролина</h4>
        <span class="popular-serv__price">5 000 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
      <li class="popular-serv__item">
        <img src="img/popular-serv6.png" alt="img" class="popular-serv__img">
        <h4 class="popular-serv__subTitle">Генеральная уборка</h4>
        <span class="popular-serv__price">2 600 руб.</span>
        <a href="#" class="popular-serv__link">Подробнее</a>
      </li>
    </ul>
  </div>
</section>