
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1180px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));


  --light-color: #fff;
}

$textColor: #111111;
$accentColor: #007198;
$btnColor: #F47220;
