<section class="all-serv">
  <div class="container">
    <h2 class="all-serv__title">Все <span>услуги</span> </h2>
    <div class="all-serv__wrp">
      <div class="all-serv-item all-serv-item_bg1">
        <h4 class="all-serv__subTitle">Химчистка мебели</h4>
        <div class="all-serv-item__wrp">
          <ul class="all-serv__list">
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка мягкой мебели</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка кожаной мебели</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка диванов</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка матрасов</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка штор</a>
            </li>
          </ul>
          <img src="../img/all-serv1.png" alt="img" class="all-serv__img">
        </div>
      </div>
      <div class="all-serv-item all-serv-item_bg2">
        <h4 class="all-serv__subTitle">Химчистка ковровых покрытий</h4>
        <div class="all-serv-item__wrp">
          <ul class="all-serv__list">
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка ковров</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка ковролина в офисе</a>
            </li>
          </ul>
          <img src="../img/all-serv2.png" alt="img" class="all-serv__img">
        </div>
      </div>
      <div class="all-serv-item all-serv-item_bg3">
        <h4 class="all-serv__subTitle">Клининговые услуги</h4>
        <div class="all-serv-item__wrp">
          <ul class="all-serv__list">
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Генеральная уборка</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Уборка после ремонта</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Чистка линолеума</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Удаление запаха мочи</a>
            </li>
          </ul>
          <img src="../img/all-serv3.png" alt="img" class="all-serv__img">
        </div>
      </div>
      <div class="all-serv-item all-serv-item_bg4">
        <h4 class="all-serv__subTitle">Спецработы</h4>
        <div class="all-serv-item__wrp">
          <ul class="all-serv__list">
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Химчистка салонов авто</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Дезинфекция генератором ОЗОНА</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Удаление неприятных запахов из помещений</a>
            </li>
            <li class="all-serv__item">
              <a href="#" class="all-serv__link">Удаление неприятных запахов из салона авто</a>
            </li>
          </ul>
          <img src="../img/all-serv4.png" alt="img" class="all-serv__img">
        </div>
      </div>
    </div>
  </div>
</section>