<section class="calc">
  <div class="container">
    <h2 class="calc__title">Рассчитать  <span>стоимость</span></h2>
    <div class="calc-wrp">
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Услуга</h4>
        <input type="text" placeholder="Выбрать">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Материал</h4>
        <input type="text" placeholder="Выбрать">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Доп. услуга</h4>
        <input type="text" placeholder="Выбрать">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Количество</h4>
        <input type="text" placeholder="Кол-во">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Цена</h4>
        <input type="text" placeholder="0.00">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Длительность</h4>
        <input type="text" placeholder="0 ч.">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Скидка</h4>
        <input type="text" placeholder="0%">
      </div>
      <div class="calc-wrp__item">
        <h4 class="calc__subTitle">Итого</h4>
        <input type="text" placeholder="0.00">
      </div>
    </div>
  </div>
</section>