<footer class="footer">
  <div class="container">
    <div class="footer-top-wrp top-wrp">
      <div class="top-wrp__item">
        <div class="top-wrp__logo">
          <img src="../img/svg/header-logo.svg" alt="logo">
        </div>
        <a href="tel:+7 (495) 649-62-46" class="top-wrp__link">+7 (495) 649-62-46</a>
        <div class="top-wrp__info">
          <p class="top-wrp__mail">doc@himdivan.ru <span>для документов</span></p>
          
          <p class="top-wrp__mail">info@himdivan.ru <span>для фото</span></p>
          
        </div>
      </div>
      <div class="top-wrp__item">
        <h4 class="footer__subTitile">Услуги</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">Химчистка мебели</a>
          </li>
          <li class="footer__item">
            <a href="#">Химчистка ковровых покрытий</a>
          </li>
          <li class="footer__item">
            <a href="#">Клининговые услуги</a>
          </li>
          <li class="footer__item">
            <a href="#">Специальные работы</a>
          </li>
        </ul>
      </div>
      <div class="top-wrp__item top-wrp__item_bold">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">Цены</a>
          </li>
          <li class="footer__item">
            <a href="#">Цены</a>
          </li>
          <li class="footer__item">
            <a href="#">Наше оборудование</a>
          </li>
          <li class="footer__item">
            <a href="#">Видео</a>
          </li>
          <li class="footer__item">
            <a href="#">Новости</a>
          </li>
        </ul>
      </div>
      <div class="top-wrp__item top-wrp__item_bold">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a href="#">Обучение</a>
          </li>
          <li class="footer__item">
            <a href="#">Франшиза</a>
          </li>
          <li class="footer__item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="footer-botm-wrp">
      <div class="footer-botm-wrp__item">
        <span>© Himdivan.ru — 2009-2022</span>
      </div>
      <div class="footer-botm-wrp__item">
        <span>Политика конфиденциальности</span>
      </div>
      <div class="footer-botm-wrp__item">
        <ul class="footer-socials">
          <li class="footer-socials__item">
            <a href="#" class="footer-socials__link">
              <img src="../img//svg/telegram.svg" alt="social">
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="#" class="footer-socials__link">
              <img src="../img//svg/viber.svg" alt="social">
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="#" class="footer-socials__link">
              <img src="../img//svg/youtube.svg" alt="social">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-botm-wrp__item">
        <span>Москва, Мартеновская, 24-23</span>
      </div>
    </div>
  </div>
</footer>