<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Фото <span>работ</span> </h2>
    <div class="gallery-wrp">
      <div class="gallery__item">
        <img src="../img/gallery1.png" alt="img">
        <img src="../img/gallery2.png" alt="img">
      </div>
      <div class="gallery__item">
        <img src="../img/gallery3.png" alt="img">
        <img src="../img/gallery4.png" alt="img">
      </div>
    </div>
    <a href="#" class="gallery__link">Наш Rutube канал</a>
  </div>
</section>