<section class="reviews">
  <div class="container">
    <div class="reviews-top-wrp">
      <h2 class="reviews__title">Отзывы</h2>
      <span class="reviews__info">Всего на сайте: 70 отзывов</span>
    </div>
    <div class="reviews-wrp">
      <div class="reviews-wrp-big">
        <div class="reviews__item reviews__item_big">
          <ul class="reviews-raiting">
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
          </ul>
          <h4 class="reviews__subTitle">В квартире от старых хозяев остался диван и кровать с матрасом...</h4>
          <p class="reviews__descr">В квартире от старых хозяев остался диван и кровать с матрасом. И то и другое, видимо, не чистили никогда. Вызвали мастера. Валерий приехал точно вовремя. Объяснил, какая химия, сколько займет времени чистка, сколько будет сохнуть. Диван было просто не узнать. Матрас тоже стал заметно чище и, конечно, дезинфекция. На следующий день все высохло. Посторонних запахов не было. Спасибо большое. Думаю, это не последняя наша встреча.</p>
          <div class="reviews__date">
            <span>24 июля 2018</span>
          </div>
        </div>
      </div>
      <div class="reviews-item-grid">
        <div class="reviews__item">
          <ul class="reviews-raiting">
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
          </ul>
          <h4 class="reviews__subTitle">Спасибо компании </h4>
          <p class="reviews__descr">Химдиван за хорошую работу. </p>
          <div class="reviews__date">
            <span>5 сентября 2018</span>
          </div>
        </div>

        <div class="reviews__item">
          <ul class="reviews-raiting">
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
          </ul>
          <h4 class="reviews__subTitle">Большое спасибо</h4>
          <p class="reviews__descr"> компании и лично мастеру Сергею.</p>
          <div class="reviews__date">
            <span>7 августа 2018</span>
          </div>
        </div>

        <div class="reviews__item">
          <ul class="reviews-raiting">
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
            <li class="reviews-raiting__item">
              <img src="../img/svg/Star1.svg" alt="start img">
            </li>
          </ul>
          <h4 class="reviews__subTitle">Салон машины прекрасен</h4>
          <p class="reviews__descr"> после чистки. Я довольна!</p>
          <div class="reviews__date">
            <span>25 июля 2020</span>
          </div>
        </div>

        <div class="reviews__item">
          <ul class="reviews-raiting">

          </ul>
          <h4 class="reviews__subTitle"></h4>
          <p class="reviews__descr reviews__descr_all">Смотреть все отзывы</p>
          <div class="reviews__date">
            <span></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>