<section class="screen1">
  <div class="container">
    <div class="screen1-wrp">
      <div class="screen1-info">
        <h1 class="screen1-info__title">Профессиональная <span>химчистка</span>  мебели
          и <span>клининговые услуги</span>  по доступным ценам
        </h1>
          <a href="#" class="screen1-info__link">Рассчитать стоимость</a>
      </div>
      <div class="screen1-services">
        <ul class="screen1-list">
          <li class="screen1__item">
            <div class="service-item service-item_bg1">
              <span class="service-item__price">от 3 000 грн.</span>
              <span class="service-item__descr">Химчистка мягкой мебели, диванов</span>
            </div>
          </li>
          <li class="screen1__item">
            <div class="service-item service-item_bg2">
              <span class="service-item__price">от 3 200 грн.</span>
              <span class="service-item__descr">Химчистка ковров, ковролинов</span>
            </div>
          </li>
          <li class="screen1__item">
            <div class="service-item service-item_bg3">
              <span class="service-item__price">от 2 200 грн.</span>
              <span class="service-item__descr">Химчистка матрасов</span>
            </div>
          </li>
          <li class="screen1__item">
            <div class="service-item service-item_bg4">
              <span class="service-item__price">от 2 000 грн.</span>
              <span class="service-item__descr">Химчистка штор</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>